<!-- Lấy dữ liệu trang chủ -->
<!-- <div class="col-md-4">
    <div class="item">
        <div class="image"><a href="https://vietthuong.vn/dan-piano-kawai-nd-21.html"><img id="image_list_2357" src="https://vietthuong.vn/image/cache/catalog/kawai/Upright/kawai-nd-21-dep-sang-trong-viet-thuong-music-450x471.jpg" alt=" Kawai ND-21" title=" Kawai ND-21"></a>

            
        </div>
        <div class="name"><a href="https://vietthuong.vn/dan-piano-kawai-nd-21.html"><h3> Kawai ND-21</h3></a></div>
        
        <div class="price">
            <span class="price_new">93,000,000<span class="currency">đ</span></span><span class="price_old">99,900,000<span class="currency">đ</span></span>								</div>
        <div class="short_description">Đàn piano Kawai ND-21 mang đến chất lượng âm thanh trong, mạnh và một sự ổn định tuyệt đối về kết cấu bề mặt bởi kỹ thuật bộ máy được sản xuất theo tiêu chuẩn của hãng Ka</div>
    </div>
</div>
<script>
    var ds = document.querySelectorAll('.item');
    var dsSP = []
    ds.forEach(sp => {
        var image = sp.querySelector('img').src.split('/').pop();
        var name = sp.querySelector('.name h3').innerText;
        var price = Number(sp.querySelector('.price_old').innerText.replace(/[^0-9]/g, ''));
        var price_sale = Number(sp.querySelector('.price_new').innerText.replace(/[^0-9]/g, ''));
        var short_description = sp.querySelector('.short_description') ? sp.querySelector('.short_description').innerText : '';

        var obj = {
            name,
            image,
            price,
            price_sale,
            short_description
        };
        dsSP.push(obj);
    });
    console.log(dsSP);
</script>    -->


<!-- Thông tin trang chủ -->
<div class="row">
    <div class="col-xs-12">
        <div class="box_desc_single">
            <ul class="nav nav-tabs" id="tabsingle">
                <li class="active"><a href="#tab-description" data-toggle="tab" aria-expanded="true">mô tả sản phẩm</a>
                </li>
                <li class=""><a href="#tab-tskt" data-toggle="tab" aria-expanded="false">thông số kỹ thuật</a></li>
                <li class=""><a href="#tab-video" data-toggle="tab" aria-expanded="false">Video</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="tab-description">
                    <div id="description_pro" class="description_singer ">
                        <h2><strong><a href="https://vietthuong.vn/dan-piano-kawai-nd-21.html">Đàn piano Kawai ND-21</a>
                                mang đến chất lượng âm thanh trong, mạnh và một sự ổn định tuyệt đối về kết cấu bề mặt
                                bởi kỹ thuật bộ máy được sản xuất theo tiêu chuẩn của hãng Kawai – Nhật Bản.</strong>
                        </h2>

                        <p>&nbsp;</p>

                        <p style="text-align:justify"><strong>KAWAI ND-21: GIÁ TRỊ VÔ SONG</strong></p>

                        <p style="text-align:justify">Kawai là một trong những nhà sản xuất piano nổi tiếng và đáng tin
                            cậy nhất trên thế giới trong hơn 90 năm qua. Kawai Piano được biết đến là nhà sáng tạo, tiên
                            phong đầy thiết thực với những cải tiến và ý tưởng độc đáo trong việc ứng dụng chất liệu
                            mới, nghiên cứu mới trong chế tác Piano, nhưng vẫn luôn giữ được Giá trị Cốt lõi của mình -
                            Sản phẩm Piano mẫu mực tiên tiến nhất.</p>

                        <ul>
                            <li style="text-align:justify">&nbsp;Hỗ trợ đắc lực cho việc phát triển kỹ năng cảm âm</li>
                            <li style="text-align:justify">&nbsp;Giúp người mới học kiểm soát lực ngón tay chính xác
                            </li>
                            <li style="text-align:justify">&nbsp;Kháng ẩm và kháng nhiệt, phù hợp với khí hậu Việt Nam
                            </li>
                            <li style="text-align:justify">&nbsp;Tuổi thọ đàn cao, tiết kiệm chi phí bảo trì</li>
                            <li style="text-align:justify">&nbsp;Thiết kế Monochrome sang trọng, hài hòa với nhiều không
                                gian</li>
                        </ul>

                        <p style="text-align:justify">&nbsp;</p>

                        <h2 style="text-align:justify"><img alt=""
                                src="https://vietthuong.vn/upload/content/images/Kawai/kawai-nd-21-dep-sang-trong.jpg"
                                style="height:667px; width:1000px"></h2>

                        <h3><strong>1.Thiết kế của Bản cộng hưởng (Soundboard)</strong></h3>

                        <p>Bản cộng hưởng Soundboard và sườn đàn là hai yếu tố quan trọng nhất làm nên âm thanh của một
                            cây đàn piano. Bản cộng hưởng được làm từ gỗ rắn chắc, chắc chắn được lựa chọn cẩn thận và
                            thử nghiệm một cách khoa học, để đạt tiêu chuẩn độ ngân của thanh âm tốt nhất. Nhờ đó tạo ra
                            tiếng đàn hay hơn với âm vực chuẩn hơn.</p>

                        <p style="text-align:center"><img alt=""
                                src="https://vietthuong.vn/upload/content/images/kawai-nd-21.jpg"
                                style="height:500px; width:870px"></p>

                        <p>Bản cộng hưởng của đàn, độ dài của dây và số thanh gỗ/xương sườn (ribs) được nâng tới mức tối
                            đa để vượt hơn các thông số kỹ thuật của những đàn piano khác, và đem lại tiếng đàn mạnh mẽ
                            và ngân vang hơn.&nbsp;Tấm Soundboard nằm thẳng, tạo sự đàn hồi, độ vang tốt. Có thể đàn các
                            mức độ từ ppp (cực nhẹ) đến fff (cực mạnh Âm thanh vang đều và thống nhất từ thấp lên cao
                            Không có tạp âm.</p>

                        <p style="text-align:center"><img alt=""
                                src="https://vietthuong.vn/upload/content/images/kawai-nd-21-1.jpg"
                                style="height:526px; width:600px"></p>

                        <p>&nbsp;</p>

                        <h3><strong>2. Đàn Piano Kawai ND-21 với Bộ máy cực nhạy và búa đàn bền</strong></h3>

                        <p style="text-align:justify">Giá trị cốt lõi của Kawai ND-21 là tạo ra âm thanh tuyệt hảo, độ
                            nhạy phím đàn, lực phản hồi từ bàn phím khi ngón tay chạm vào sẽ nhanh và nhạy hơn. Ngoài
                            bản cộng hưởng được làm bằng gỗ vân sam rắn chắc, Kawai ND-21 còn sử dụng bộ máy đàn và búa
                            đàn cực nhạy, kết hợp với những kỹ thuật thủ công tiên tiến trên thế giới. Nhờ đó, các nghệ
                            sĩ piano cảm nhận được âm điệu và độ nhạy khi chạm vào từng phím đàn.</p>

                        <p style="text-align:center"><img alt=""
                                src="https://vietthuong.vn/upload/content/images/kawai-nd-21-2.jpg"
                                style="height:498px; width:600px"></p>

                        <p style="text-align:justify">Các thành phần cốt lõi trong bộ máy đàn được thiết kế với trọng
                            lượng nhẹ hơn và cải tiến cấu trúc nhằm tối ưu hóa tốc độ, sự lặp lại và kiểm soát tốt hơn.
                            Mọi chi tiết chính xác của bộ cơ được phân tích và điều chỉnh phù hợp nhằm tạo ra cảm giác
                            thân mật giữa âm nhạc và nghệ sĩ. Độ nặng của phím đàn Kawai được so sánh với các Bộ máy cơ
                            Upright Piano của các dòng thương hiệu cao cấp khác, giúp nghệ sĩ thực hiện các kỹ thuật
                            piano dễ hơn và chính xác hơn.</p>

                        <p style="text-align:center"><img alt=""
                                src="https://vietthuong.vn/upload/content/images/kawai-nd-21-3.jpg"
                                style="height:413px; width:620px"></p>

                        <p style="text-align:justify">&nbsp;</p>

                        <h3><strong>3. Kawai ND-21 Kiểu dáng, thiết kế đẹp và hài hòa</strong></h3>

                        <p style="text-align:justify">Khác biệt với các loại nội thất khác, đàn piano luôn là điểm nhấn
                            của sự sang trọng và quý phái. Được trang bị tinh tế với kim loại bạc và khung bảng cộng
                            hưởng màu đen, Kawai ND-21 đã tạo được ấn tượng mang tính hiện đại nhưng vẫn tôn vinh nét
                            đẹp văn hóa của bất kì không gian nào.</p>

                        <p style="text-align:center"><img alt=""
                                src="https://vietthuong.vn/upload/content/images/kawai-nd-21-4.jpg"
                                style="height:400px; width:600px"></p>

                        <p>Với&nbsp;kích thước upright piano phổ biến thông dụng (Cao: 121 cm; Ngang: 149 cm Rộng: 58 cm
                            ) ND-21 sở hữu kiểu dáng trang nhã phù hợp với nhiều không gian sử dụng,&nbsp;hài hòa với
                            mọi kiến trúc.</p>

                        <p style="text-align:center"><img alt=""
                                src="https://vietthuong.vn/image/catalog/kawai/Upright/kich-thuoc-dan-piano-kawai-nd21.jpg"
                                style="height:600px; width:600px"></p>

                        <h2>&nbsp;</h2>

                        <h3><strong>4. Chính sách bảo hành chính hãng khi mua Kawai ND-21 tại Việt Thương</strong></h3>

                        <p>Đảm bảo thời gian sử dụng lâu dài, không bị ảnh hưởng dưới tác động của nhiệt độ và độ ẩm của
                            môi trường. Đàn piano Kawai ND21 được Việt Thương bảo hành 60 tháng với thời gian bảo trì
                            như&nbsp;lên dây đàn, cân chỉnh pedal, phím đàn, ...&nbsp;đúng thời hạn nên quý khách Yên
                            Tâm sử dụng.</p>

                        <p style="text-align:center"><img alt=""
                                src="https://vietthuong.vn/upload/content/images/Kawai/kawai-nd-21-dep-sang-trong-01.jpg"
                                style="height:667px; width:1000px"></p>

                        <p><em><strong>&gt;&gt; Xem thêm những <a
                                        href="https://vietthuong.vn/dan-piano-upright.html">mẫu đàn piano cơ</a> tại cửa
                                    hàng Việt Thương Music</strong></em></p>
                    </div>
                    <div id="xemthempro" class="xemthem hidden">Xem thêm</div>
                </div>
                <div class="order-review" style="float: left;">
                    <form name="fOrderReview">
                        <div class="left">Bạn có hài lòng với nội dung sản phẩm không?</div>
                        <div class="right">
                            <a id="feedback_btncg" class="good"><i class="iconfb-good"></i>Hài lòng</a>
                            <a id="feedback_btncb" class="bad"><i class="iconfb-bad"></i>Không hài lòng</a>
                        </div>
                        <div class="clearfix"></div>
                        <div id="frm_good" class="reason hidden">
                            <textarea name="feedback_mg" placeholder="Bạn có góp ý gì thêm không? (không bắt buộc)"
                                id="feedback_mg"></textarea>
                            <a id="feedback_btng">Gửi góp ý</a>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div id="frm_bad" class="reason hidden">
                            <textarea name="feedback_mb" id="feedback_mb"
                                placeholder="Điều gì khiến Bạn không hài lòng? (không bắt buộc)"></textarea>
                            <div class="row_line_comment">
                                <div class="item_line_comment">
                                    <input type="text" name="feedback_name" id="feedback_name" value=""
                                        class="input_name" placeholder="Tên*">
                                </div>

                                <div class="item_line_comment">
                                    <input type="text" name="feedback_phone" id="feedback_phone" value=""
                                        class="input_name" placeholder="Số điện thoại*">
                                </div>
                            </div>
                            <a id="feedback_btnb">Gửi góp ý</a>
                            <div class="clearfix"></div>
                        </div>

                        <div class="errorss"></div>
                    </form>

                    <div class="thankss hidden">Cảm ơn Bạn đã đánh giá!</div>

                </div>









                <div class="tab-pane" id="tab-tskt">
                    <table border="1" cellpadding="0" cellspacing="0" style="width:100%">
                        <tbody>
                            <tr>
                                <td>
                                    <p>Bộ cơ</p>
                                </td>
                                <td>
                                    <p>Tiêu chuẩn sản xuất của hãng Kawai – Nhật Bản</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Soundboard</p>
                                </td>
                                <td>
                                    <p>Solid Spruce (Gỗ vân sam rắn chắc)</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Thanh gỗ sau lưng đàn</p>
                                </td>
                                <td>
                                    <p>4 cái</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Bàn phím</p>
                                </td>
                                <td>
                                    <p>Acrylic / Phenol</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Pedal</p>
                                </td>
                                <td>
                                    <p>3 cái (Soft, practice and sustain)</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Kích thước</p>
                                </td>
                                <td>
                                    <p>Cao 121cm - Rộng 149cm - Dài 58cm</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Trọng lượng</p>
                                </td>
                                <td>
                                    <p>215 kg</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Sản xuất</p>
                                </td>
                                <td>
                                    <p>Indonesia</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="tab-video">

                    <iframe width="100%" height="580"
                        src="https://www.youtube.com/embed/rSj3AhH3JMM?enablejsapi=1&amp;origin=https%3A%2F%2Fvietthuong.vn"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen="" data-gtm-yt-inspected-21="true" id="700640835"
                        data-gtm-yt-inspected-7172713_33="true" title="Review và demo đàn piano Kawai ND-21"></iframe>

                </div>




                <div class="tags">
                    <a href="https://vietthuong.vn/tu-khoa-piano">Piano</a>
                </div>



            </div>
        </div>

    </div>
</div>
<script>
    // var description = document.querySelector('.description_singer').innerHTML.replace(/\n/g, '');
    // var orderReview = document.querySelector('.order-review').innerHTML.replace(/\n/g, '');
    // var xemthempro = document.querySelector('.xemthem').innerHTML.replace(/\n/g, '');
    // var tabPane = document.querySelector('.tab-pane').innerHTML.replace(/\n/g, '');
    // var dsSP = [];
    // dsSP.push(description, orderReview, xemthempro, tabPane);
    // console.log(dsSP);
    // var pane = document.querySelector('.tab-pane').innerHTML.replace(/\n/g, '');
    // var tabTskt = document.querySelector('#tab-tskt').innerHTML.replace(/\n/g, '');
    // var tabVideo = document.querySelector('#tab-video').innerHTML.replace(/\n/g, '');
    // var dsPane = [];
    // dsPane.push(pane, tabTskt, tabVideo);
    // console.log(dsPane);
    
</script>

<script>
    function cleanHTML(html) {
    return html.replace(/\n/g, '') // Loại bỏ ký tự xuống dòng
               .replace(/\\/g, '')  // Loại bỏ dấu gạch chéo ngược
               .replace(/\//g, '')  // Loại bỏ dấu gạch chéo
               .replace(/\s+/g, ' ') // Thay thế nhiều khoảng trắng bằng một khoảng trắng
               .trim(); // Loại bỏ khoảng trắng ở đầu và cuối chuỗi
}

var description = cleanHTML(document.querySelector('.description_singer').innerHTML);
var orderReview = cleanHTML(document.querySelector('.order-review').innerHTML);
var xemthempro = cleanHTML(document.querySelector('.xemthem').innerHTML);
var tabTskt = cleanHTML(document.querySelector('#tab-tskt').innerHTML);
var tabVideo = cleanHTML(document.querySelector('#tab-video').innerHTML);

var dsPane = [];
dsPane.push(description, orderReview, xemthempro, tabTskt, tabVideo);
console.log(dsPane);

</script>