<!-- Lấy dữ liệu trang chủ -->
<!-- <div class="col-md-4">
    <div class="item">
        <div class="image"><a href="https://vietthuong.vn/dan-piano-kawai-nd-21.html"><img id="image_list_2357" src="https://vietthuong.vn/image/cache/catalog/kawai/Upright/kawai-nd-21-dep-sang-trong-viet-thuong-music-450x471.jpg" alt=" Kawai ND-21" title=" Kawai ND-21"></a>

            
        </div>
        <div class="name"><a href="https://vietthuong.vn/dan-piano-kawai-nd-21.html"><h3> Kawai ND-21</h3></a></div>
        
        <div class="price">
            <span class="price_new">93,000,000<span class="currency">đ</span></span><span class="price_old">99,900,000<span class="currency">đ</span></span>								</div>
        <div class="short_description">Đàn piano Kawai ND-21 mang đến chất lượng âm thanh trong, mạnh và một sự ổn định tuyệt đối về kết cấu bề mặt bởi kỹ thuật bộ máy được sản xuất theo tiêu chuẩn của hãng Ka</div>
    </div>
</div>
<script>
    var ds = document.querySelectorAll('.item');
    var dsSP = []
    ds.forEach(sp => {
        var image = sp.querySelector('img').src.split('/').pop();
        var name = sp.querySelector('.name h3').innerText;
        var price = Number(sp.querySelector('.price_old').innerText.replace(/[^0-9]/g, ''));
        var price_sale = Number(sp.querySelector('.price_new').innerText.replace(/[^0-9]/g, ''));
        var short_description = sp.querySelector('.short_description') ? sp.querySelector('.short_description').innerText : '';

        var obj = {
            name,
            image,
            price,
            price_sale,
            short_description
        };
        dsSP.push(obj);
    });
    console.log(dsSP);
</script>    -->


<!-- Lấy ảnh thumnail -->
<li class="image-gallery_full">
    <a href="image/catalog/kawai/Upright/dan-piano-kawai-nd21-chinh-hang.jpg" title=""><span class="fs-th5"><i>6</i></span><p>Xem thêm 6 ảnh</p></a>



<a class="hidden" href="image/catalog/kawai/Upright/dan-piano-kawai-nd21-chinh-hang-01.jpg"><img src="https://vietthuong.vn/image/catalog/kawai/Upright/dan-piano-kawai-nd21-chinh-hang-01.jpg" alt=""></a>


<a class="hidden" href="image/catalog/kawai/Upright/dan-piano-kawai-nd21-ben-trong-bo-may.jpg"><img src="https://vietthuong.vn/image/catalog/kawai/Upright/dan-piano-kawai-nd21-ben-trong-bo-may.jpg" alt=""></a>


<a class="hidden" href="image/catalog/kawai/Upright/dan-piano-kawai-nd21-chinh-hang-02.jpg"><img src="https://vietthuong.vn/image/catalog/kawai/Upright/dan-piano-kawai-nd21-chinh-hang-02.jpg" alt=""></a>


<a class="hidden" href="image/catalog/kawai/Upright/dan-piano-kawai-nd21-chinh-hang-03.jpg"><img src="https://vietthuong.vn/image/catalog/kawai/Upright/dan-piano-kawai-nd21-chinh-hang-03.jpg" alt=""></a>


<a class="hidden" href="image/catalog/kawai/Upright/kich-thuoc-dan-piano-kawai-nd21.jpg"><img src="https://vietthuong.vn/image/catalog/kawai/Upright/kich-thuoc-dan-piano-kawai-nd21.jpg" alt=""></a>


</li>

<script>
    var ds = document.querySelectorAll('.hidden');
    var dsImg = []
    ds.forEach(img => {
        var image = img.querySelector('img').src.split('/').pop();
        var obj = {image}
        dsImg.push(obj);
    });
    console.log(dsImg);
</script>