
<!-- Lấy ảnh thumnail -->
<!-- <li class="image-gallery_full">
    <a href="image/catalog/kawai/Upright/dan-piano-kawai-nd21-chinh-hang.jpg" title=""><span class="fs-th5"><i>6</i></span><p>Xem thêm 6 ảnh</p></a>



<a class="hidden" href="image/catalog/kawai/Upright/dan-piano-kawai-nd21-chinh-hang-01.jpg"><img src="https://vietthuong.vn/image/catalog/kawai/Upright/dan-piano-kawai-nd21-chinh-hang-01.jpg" alt=""></a>


<a class="hidden" href="image/catalog/kawai/Upright/dan-piano-kawai-nd21-ben-trong-bo-may.jpg"><img src="https://vietthuong.vn/image/catalog/kawai/Upright/dan-piano-kawai-nd21-ben-trong-bo-may.jpg" alt=""></a>


<a class="hidden" href="image/catalog/kawai/Upright/dan-piano-kawai-nd21-chinh-hang-02.jpg"><img src="https://vietthuong.vn/image/catalog/kawai/Upright/dan-piano-kawai-nd21-chinh-hang-02.jpg" alt=""></a>


<a class="hidden" href="image/catalog/kawai/Upright/dan-piano-kawai-nd21-chinh-hang-03.jpg"><img src="https://vietthuong.vn/image/catalog/kawai/Upright/dan-piano-kawai-nd21-chinh-hang-03.jpg" alt=""></a>


<a class="hidden" href="image/catalog/kawai/Upright/kich-thuoc-dan-piano-kawai-nd21.jpg"><img src="https://vietthuong.vn/image/catalog/kawai/Upright/kich-thuoc-dan-piano-kawai-nd21.jpg" alt=""></a>


</li>

<script>
    var ds = document.querySelectorAll('.hidden');
    var dsImg = []
    ds.forEach(img => {
        var image = img.querySelector('img').src.split('/').pop();
        var obj = {image}
        dsImg.push(obj);
    });
    console.log(dsImg);
</script> -->

<li class="image-gallery_full">
    <a href="image/catalog/kawai/Upright/dan-piano-kawai-nd21-chinh-hang.jpg" title=""><span class="fs-th5"><i>6</i></span><p>Xem thêm 6 ảnh</p></a>



<a class="hidden" href="image/catalog/kawai/Upright/dan-piano-kawai-nd21-chinh-hang-01.jpg"><img src="https://vietthuong.vn/image/catalog/kawai/Upright/dan-piano-kawai-nd21-chinh-hang-01.jpg" alt=""></a>


<a class="hidden" href="image/catalog/kawai/Upright/dan-piano-kawai-nd21-ben-trong-bo-may.jpg"><img src="https://vietthuong.vn/image/catalog/kawai/Upright/dan-piano-kawai-nd21-ben-trong-bo-may.jpg" alt=""></a>


<a class="hidden" href="image/catalog/kawai/Upright/dan-piano-kawai-nd21-chinh-hang-02.jpg"><img src="https://vietthuong.vn/image/catalog/kawai/Upright/dan-piano-kawai-nd21-chinh-hang-02.jpg" alt=""></a>


<a class="hidden" href="image/catalog/kawai/Upright/dan-piano-kawai-nd21-chinh-hang-03.jpg"><img src="https://vietthuong.vn/image/catalog/kawai/Upright/dan-piano-kawai-nd21-chinh-hang-03.jpg" alt=""></a>


<a class="hidden" href="image/catalog/kawai/Upright/kich-thuoc-dan-piano-kawai-nd21.jpg"><img src="https://vietthuong.vn/image/catalog/kawai/Upright/kich-thuoc-dan-piano-kawai-nd21.jpg" alt=""></a>


</li>
<script>
    var ds = document.querySelectorAll('.image-gallery_full .hidden');
    var dsImg = []
    ds.forEach(img => {
        var image = img.querySelector('img').src.split('/').pop();
        var obj = {image}
        dsImg.push(obj);
    });
    console.log(dsImg);
</script> 