body {
    zoom: 90% !important;
}

#logo_header_mobile {
    max-width: 190px;
}

.wg-table.table-all-user>* {
    min-width: 1260px;
}

.wgp-pagination svg {
    height: 20px;
}

.wgp-pagination p {
    font-size: 16px;
}

.pagination {
    margin-left: 30px;

    .page-link {
        padding: 1.1rem;
        font-size: 16px;
    }
}

.swal-button--confirm {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.swal-button--confirm.active,
.swal-button--confirm:active,
.show>.swal-button--confirm.dropdown-toggle,
.swal-button--confirm:hover {
    background-color: #b02a37 !important;
    border-color: #a52834 !important;
    color: #fff;
}

.swal-footer {
    text-align: center;
}

.table-bordered>:not(caption)>*>* {
    border-width: inherit;
    line-height: 32px;
    font-size: 14px;
    border: 1px solid #e1e1e1;
    vertical-align: middle;
}

.table-striped .image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
}

.table-striped {
    min-width: 1200px;
}

/* .table-striped th:nth-child(2),
.table-striped td:nth-child(2) {
    width: 250px;
    padding-bottom: 18px;
} */

.pname {
    display: flex;
    gap: 13px;
}

.view-icon {
    width: 20px;
    margin: 0 auto;
}
.wg-table.table-all-user>* {
    min-width: 1260px;
}

/*------*/
.wgp-pagination svg {
    height: 20px;
}

.wgp-pagination p {
    font-size: 16px;
}

.pagination {
    margin-left: 30px;

    .page-link {
        padding: 1.1rem;
        font-size: 16px;
    }
}

.swal-button--confirm {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.swal-button--confirm.active,
.swal-button--confirm:active,
.show>.swal-button--confirm.dropdown-toggle,
.swal-button--confirm:hover {
    background-color: #b02a37 !important;
    border-color: #a52834 !important;
    color: #fff;
}

.swal-footer {
    text-align: center;
}

.table-bordered>:not(caption)>*>* {
    border-width: inherit;
    line-height: 32px;
    font-size: 14px;
    border: 1px solid #e1e1e1;
    vertical-align: middle;
}

.table-striped .image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
}

.table-striped {
    min-width: 1200px;
}

/* .table-striped th:nth-child(2),
.table-striped td:nth-child(2) {
    width: 250px;
    padding-bottom: 18px;
} */

.pname {
    display: flex;
    gap: 13px;
}

.view-icon {
    width: 20px;
    margin: 0 auto;
}


/* nút toggle switch */

.toggle {
    position: relative;
    display: inline-block;
    width: 5rem; /* Tăng kích thước chiều rộng */
    height: 2.5rem; /* Tăng kích thước chiều cao */
}

.toggle input {
    display: none;
}

.roundbutton {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #d0d0d0;
    display: block;
    transition: all 0.3s;
    border-radius: 2.5rem; /* Thay đổi góc bo cho phù hợp với kích thước mới */
    cursor: pointer;
}

.roundbutton:before {
    position: absolute;
    content: "";
    height: 2rem; /* Tăng kích thước chiều cao */
    width: 2rem; /* Tăng kích thước chiều rộng */
    border-radius: 50%; /* Giữ nguyên để nó vẫn là hình tròn */
    display: block;
    left: 0.25rem; /* Tăng lề bên trái */
    bottom: 0.25rem; /* Tăng lề bên dưới */
    background-color: white;
    transition: all 0.3s;
}

input:checked + .roundbutton {
    background-color: #22C55E; /* Màu nền khi bật */
}

input:checked + .roundbutton:before {
    transform: translate(2.5rem, 0); /* Cập nhật khoảng dịch chuyển cho phù hợp với kích thước mới */
}

/* paginate */

.page-link {
    /* padding: 12px 15px; */
    width: 47px;
    text-align: center;
    font-size: 16px;
    color: gray;
}

.not-search{
    margin: 50px 0;
}
.not-search i{
    font-size: 70px;
    padding-bottom: 10px;
}


.input-filter{
    border-color: gray !important ;
}

.wg-filter {
    gap: 10px 10px;
}
.btn-filter {
    width: 110px;
    background-color: var(--Main);
    color: white;
}
.btn-filter:hover {
    background-color: #0548b4;
    color: white;
}

.alert.alert-danger {
    padding: 20px 25px;
    font-size: 14px;
}


.preview-img{
    padding: 18px;
}



.bottom-page {
    margin-top: 20px !important;
}

/* .btn{
    padding: 0px !important;
} */


  /* Tăng kích thước popup */
  .swal2-popup {
    width: 600px; 
    font-size: 1.5rem;
  }

  /* Tăng kích thước tiêu đề */
  .swal2-title {
    font-size: 3.5rem; 
    padding: 0.3em 1em 0;
  }

  /* Tăng kích thước nội dung */
  .swal2-html-container {
    font-size: 1.3rem; 
  }

  /* Tăng kích thước và độ đậm của nút */
  .swal2-confirm, .swal2-cancel {
    font-size: 1.5rem; /* Tăng kích thước chữ của nút */
    padding: 15px 30px; /* Tăng kích thước nút */
    border-radius: 8px; /* Bo góc nút */
    font-weight: bold; /* Đậm chữ */
  }
  
  div:where(.swal2-container) .swal2-html-container {
    padding: 0.3em 1.6em .3em !important;
    font-size: 1.325em;
}

.swal2-icon.swal2-warning.swal2-icon-show {
    width: 7em;
    height: 7em;
}

.fill-deleted {
    margin: 0px 0px 20px 5px;
    font-size: 14px;
}
.fill-deleted a{
    color: #2271b1;
}
.fill-deleted a:hover{
    color: #000000;
}
.fill-deleted a:active{
    color: #000000;
}
.fill-deleted a span{
    color: #50575e;
}
.wg-filter-postc {
    width: 700px;
}
.wg-filter-post, .wg-filter-product{
    width: 920px;
}

/*-------------------------- ck editor ------------------------*/
.form-content .ck-editor__editable_inline{
    height: 600px;
}
.form-description .ck-editor__editable_inline{
    height: 150px;
}
.product .form-description .ck-editor__editable_inline{
    height: 450px;
}

form.post.tf-section-2.form-add-product , form.product.tf-section-2.form-add-product{
    grid-template-columns: 70% 30%;
}



/* -----------------slug ------------------- */
.input-group-text{
    font-size: 14px;
}
.form-control:focus{
    box-shadow: none;
    border-color: #ced4da;
    /* border-left: none; */
    padding-left: 10px !important;
}
.form-control{
    padding-left: 10px !important;
    /* border-left: none;
    border-color: #ced4da; */

}

.upload-image .item{
    position: relative;
    padding: 20px 0;

}
.upload-image .item img{
    height: auto;

}
.upload-image .item .fa-circle-xmark{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
}
.upload-image .item .fa-circle-xmark:hover{
    font-weight: 900;
}
select{
    border-color: #7e7e7e;
}



/* silde thương hiệu */

.swiper-slide{
    width: 123px;
  
}
img.w-100.h-auto.mb-3 {
    width: 100%;
    height: 123px !important;
    border-radius: 50%;
}
/* 
.btn-update-cart{
    padding-left: 20px !important;
    padding-right: 20px !important;
  } */