#toast-container, .toast-success{
    font-size: 16px !important;
}
#toast-container>div {
    padding: 20px 40px 20px 70px !important;
    width: 350px !important;
    font-size: 18px !important;
}
.toast-title {
    font-size: 20px !important;
}
.upload-image .uploadfile .icon-img{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}


.modal-content-product{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

  /* Tăng kích thước popup */
  .swal2-popup {
    width: 600px; 
    font-size: 1.5rem;
  }

  /* Tăng kích thước tiêu đề */
  .swal2-title {
    font-size: 3.5rem; 
    padding: 0.3em 1em 0;
  }

  /* Tăng kích thước nội dung */
  .swal2-html-container {
    font-size: 1.3rem; 
  }

  /* Tăng kích thước và độ đậm của nút */
  .swal2-confirm, .swal2-cancel {
    font-size: 1.5rem; /* Tăng kích thước chữ của nút */
    padding: 15px 30px; /* Tăng kích thước nút */
    border-radius: 8px; /* Bo góc nút */
    font-weight: bold; /* Đậm chữ */
  }
  
  div:where(.swal2-container) .swal2-html-container {
    padding: 0.3em 1.6em .3em !important;
    font-size: 1.325em;
}

.swal2-icon.swal2-warning.swal2-icon-show {
    width: 7em;
    height: 7em;
}

.my-account__address-item__detail p{
  font-size: 17px;
  margin-bottom: 10px !important;
}
.my-account.wg-box.mt-5 {
  height: 320px;
}