.footer-middle {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
}
.text-right{
    text-align: right;
}
.pt-90 {
    padding-top: 90px !important;
}
.my-account__address-list {
    display: flex;
    gap: 1.625rem;
}

.form-floating>.form-control,
.form-floating>.form-select {
    height: 48px;
}
.shopping-cart__product-item__detail a:hover{
    text-decoration: underline;
}
button.remove-cart {
    border: none;
    background-color: white;
}

.cart-null {
    width: 700px;
    margin: 0 auto;
    text-align: center;
}
.cart-null img{
    width: 100%;
    height: auto;
}
.shopping-cart .cart-table tbody td {
    padding: 1.875rem 0.875rem;
}

select.input-filter option {
    padding: 50px !important; /* Thay đổi giá trị padding tùy ý */
}


.btn-comeback {
    display: inline-block;
    padding: 10px 20px;
    color: #fff; /* Màu chữ */
    background-color: #b9a16b; /* Màu nền */
    border: none;
    border-radius: 5px; /* Bo góc */
    text-align: center;
    text-decoration: none; /* Không gạch chân */
    transition: background-color 0.3s, transform 0.3s; /* Hiệu ứng chuyển đổi */
}

.btn-comeback:hover {
    color: #fff; /* Màu chữ */
    background-color: #826f44; /* Màu nền khi hover */
}
section.shop-checkout.container {
    margin-top: 50px;
}
.logo {
    width: 250px;
}
.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    font-style: italic;
}
.btn-update-cart{
    background-color: #b9a16b;
    /* transition: 1s ease-in; */
    color: white;
}
.btn-update-cart:hover{
    background-color: #9b8349;
    color: white;
    /* transition: 1s ease-in; */
}
.bnt-apply{
    padding: 5px 10px !important;
}


.input-filter {
    width: 136px; /* Chiều rộng đầy đủ */
    padding: 5px 10px; /* Padding cho khoảng cách bên trong */
    font-size: 16px; /* Kích thước font */
    border: 2px solid #ccc; /* Viền mỏng màu xám */
    border-radius: 5px; /* Bo góc */
    background-color: #fff; /* Màu nền trắng */
    color: #333; /* Màu chữ */
    cursor: pointer; /* Con trỏ khi hover */
    transition: border-color 0.3s ease; /* Hiệu ứng chuyển màu viền */
}

.input-filter:hover {
    border-color: #007bff; /* Thay đổi màu viền khi hover */
}

.input-filter:focus {
    outline: none; /* Bỏ outline mặc định */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Đổ bóng */
}
.cart-null{
    position: relative;
}
.btn-comeback-pst{
    position: absolute;
    bottom: 50px;
    right: 50%;
    transform: translateX(50%);
}


.post-view{
    display: grid;
    grid-template-columns: 930px 1fr;
}

.category-list,
.subcategory-list-parent,
.subcategory-list-parent-1,
.subcategory-list-parent-2 {
    list-style: none; /* Bỏ dấu bullet cho danh sách */
    padding: 0; /* Bỏ padding mặc định */
    margin: 0; /* Bỏ margin mặc định */
}

.menu-item {
    cursor: pointer; /* Con trỏ chuột khi hover */
    padding: 8px 12px; /* Padding cho danh mục */
    position: relative; /* Để sử dụng vị trí cho các submenu */
    transition: background-color 0.3s; /* Hiệu ứng chuyển màu nền */
}
.menu-item > a {
    font-size: 0.94rem;
}
.menu-item:hover > a{
    color: #b9a16b;
    text-decoration: underline;
}

/* Ẩn các danh mục con ban đầu */
.subcategory-list-parent-1,
.subcategory-list-parent-2 {
    display: none; /* Ẩn các danh mục con ban đầu */
}

/* Khoảng cách bên trái cho danh mục con */
.subcategory-list-parent,
.subcategory-list-parent-1,
.subcategory-list-parent-2 {
    padding-left: 10px; /* Khoảng cách bên trái cho danh mục con */
}



.menu-cate{
    list-style: none;
    margin: 10px 0 20px 0;
    padding: 0;
}
li.menu-cate-item {
    padding: 10px 20px;
    background-color: #b9a16b;
    margin-right: 10px;
    border-radius: 10px;
}
li.menu-cate-item:hover, li.menu-cate-item.active{
    background-color:#76653d;
}
li.menu-cate-item > a{
    color:#fff;
}


/* chữ mờ */
.text-gray{
    color: #747474
}

/* nút play */
.post-category .image, .post_detail .image{
    position: relative;
}
.icon_play {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding-top: 22%;
}
.icon_play i {
    font-size: 30px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 8px;
    padding-left: 0px;
}
.fa-play:before {
    content: "\f04b";
}



.image img{
    width: 100% !important;
}


/* voucher */
.voucher_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.box-voucher {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 90%;
    max-width: 31rem;
    max-height: 80%;
    overflow-y: auto;
    z-index: 10000;
    border-radius: 8px;
    padding: 20px;
}

.voucher_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid;
}

.close-voucher {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.voucher_body {
    margin-top: 15px;
    max-height: 400px; /* Giới hạn chiều cao của danh sách voucher */
    overflow-y: auto; /* Hiển thị thanh cuộn dọc khi nội dung vượt quá chiều cao */
    padding: 0 15px 10px 10px;
}

.voucher_item {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 10px 10px;
    border-bottom: 1px solid #ddd;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0; */
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.disabled-voucher {
    opacity: 0.5;
}
.voucher_image img {
    width: 100px;
    height: auto;
    border-radius: 4px;
    margin-right: 10px;
}

.voucher_content {
    flex: 1;
    padding-left: 10px;
}

.voucher_radio {
    padding-left: 10px;
}
.voucher_radio input[type="radio"] {
    width: 20px;
    height: 20px;
    accent-color: #95752e; /* Màu nút radio */
    border-radius: 50%; /* Bo tròn cho nút radio */
    outline: none; /* Bỏ viền khi focus */
    cursor: pointer; /* Hiệu ứng khi di chuột */
    transition: border-color 0.3s, background-color 0.3s; /* Hiệu ứng khi hover */
}

.voucher_radio input[type="radio"]:checked {
    background-color: #b9a16b; /* Màu nền khi được chọn */
}

.voucher_name {
    font-size: 16px;
    color: #b9a16b;
}
.voucher_footer{
    margin-top: 20px;
    text-align: end;
}
.voucher_footer a {
    display: inline-block;
    background-color: #b9a16b; /* Màu cam giống Shopee */
    color: #fff; /* Màu chữ trắng */
    padding: 10px 80px; /* Kích thước nút */
    border-radius: 4px; /* Bo tròn các góc */
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Hiệu ứng khi hover */
    font-size: 16px; /* Kích thước chữ */
}

.voucher_footer a:hover {
    background-color: #a48f5f; /* Màu tối hơn khi hover */
}
.voucher_des {
    color: #7c7c7c;
}
a.btn-voucher {
    color: #05a;
}
a.btn-voucher:hover {
    text-decoration: underline;
}
/* end box voucher */

.progress-tracker {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    margin-top: 20px;
  }
  
  .progress-step {
    text-align: center;
    flex: 1;
    position: relative;
  }
  
  .progress-step__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0 auto;
  }
  
  .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ddd;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }
  
  .progress-step--completed .circle {
    background-color: #2dc258;
  }
  
  .progress-step--current .circle {
    background-color: #007bff;
  }
  
  .progress-step__text {
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .progress-step__date {
    font-size: 12px;
    color: #666;
    margin-top: 2px;
  }
  
  .progress-line {
    position: absolute;
    top: 20px;
    left: 5%;
    width: 90%;
    height: 4px;
    background-color: #e0e0e0;
    z-index: -1;
  }
  
  .progress-line__foreground {
    position: absolute;
    height: 100%;
    background-color: #2dc258;
    transition: width 0.3s ease;
  }
  









  